<li id="article-<%= article.id %>">
	<!-- using pre so we cannot have whitespace in the code -->
		<span class="title"><%= article.title %></span>
		<div class="content"><%= article.content %></div>
</li>