<li id="article-<%= article.id %>">
	<!-- using pre so we cannot have whitespace in the code -->
		<span class="title"><%= link_to article.title, article_path(article.id) %></span>
		<div class="content"><%= article.content %></div>
		<div class="list-footer">
			<% @article = article %>
			<%= render 'shared/article_footer' %>
		</div>
</li>