<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<% if @user.articles.any? %>
			<ol class="drafts">
				<%= render partial: 'articles/draft', collection: @drafts  %>
			</ol>
		<% end %>
	</div>
</div>

