<div class="row">
	<div class="col-md-8 col-md-offset-2 articles" id="single-article">
		<span class="title"><%= @article.title %></span>
		<div class="content"><%= @article.content %></div>
		<div class="list-footer">
			<%= render 'shared/article_footer' %>
		</div>
	</div>
</div>
