<% if @articles.any? %>
	<ol class="articles" id="artview">
		<%= render @articles %>
	</ol>
	<div class="col-md-offset-6" id="infinite-scrolling">
			<%= will_paginate @articles %>
	</div>
<% end %>
