<div class="container">
	<div class="col-md-8 col-md-offset-2" id="about">
		<p>No video, no pictures; just text.  That's all this site is about.</p>
		</br>

		<p>&nbsp;&nbsp;&nbsp;&nbsp;The rules are simple: you write good posts, people vote it up; you write bad posts, people vote it down.  The more votes you get, the more voting power you have.  When you vote for someone else's work, you will lose a little bit of your voting power, so be sure to vote one way or the other only if you really feel like it.  The higher-rated an article is, the higher it will be placed on the home page.</p>
		</br>

		<p>&nbsp;&nbsp;&nbsp;&nbsp;Lastly, if reading good content is boring for you, there's always the random article button for you.</p>
	</div>
</div>
