<% if logged_in? && !current_user?(@user) %>
	<span>
		<%= link_to upvote_article_path(@article.id), remote: true,
      method: :patch do  %>
				<i class="thumbsup fa fa-thumbs-up fa-2x icon-2x"></i>
		<% end %>
	</span>
	<span>
		<%= link_to downvote_article_path(@article.id), remote: true,
			method: :patch do%>
				<i class="thumbsdown fa fa-thumbs-down fa-2x icon-2x"></i>
		<% end %>
	</span>
<% end %>
