<% if logged_in? && !current_user?(@user) %>
	<span>
		<%= link_to downvote_article_path(@article.id), remote: true,
			method: :patch do%>
				<i class="thumbsdown fa fa-caret-square-o-down fa-2x icon-2x"></i>
		<% end %>
	</span>
<% end %>
