.articles {
	list-style: none;
	li {
		padding: px 0px;
		border-bottom: 1px solid $gray-light;
		margin-bottom: 1em;
	}
	.title {
		font-family: Georgia, serif;
		line-height: 2em;
		font-size: 1.8em;
		white-space: pre-wrap; //allows whitespace preservation; however, the application code also needs to be shrunk
	}
	.content {
		width: 38em;
		font-size: 18px;
		font-family: Georgia, serif;
		line-height: 1.5;
		color: #070707;
		margin-bottom: 1em;
		margin-top: 0.5em;
		white-space: pre-wrap;
	}
}


.drafts {
	list-style: none;
	li {
		padding: none;
		border-bottom: 1px solid $gray-light;
		&:hover{
			background-color: $gray-lighter;
			.draft-edit-btn {
				opacity: 1;
			}
			.draft-delete-btn {
				opacity: 1;
			}
		}
	}
	.draft-title {
		display: inline-block;
		width: 20em;
		color: gray;
		font-family: Georgia, serif;
		line-height: 1.3em;
		font-size: 1.3em;
		overflow: hidden;
		padding-left: 20px;
		padding-top: 20px;
		text-overflow: ellipsis;
		white-space: nowrap; //allows whitespace preservation; however, the application code also needs to be shrunk
	}
	.draft-content {
		display: inline-block;
		width: 36em;
		font-size: 15px;
		font-family: Georgia, serif;
		color: gray;
		padding-top: 4px;
		padding-left: 40px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-bottom: 1em;
		margin-top: 0.5em;
	}
}

.list-footer {
	overflow: hidden;
	vertical-align: middle;
}

span.timestamp{
	float: right;
  color: $gray-light;
	padding-right: 5px;
}

span.score {
	float: right;
	font-size: 0.9em;
	margin-right: 5px;
}

.draft-edit-btn {
	opacity: 0;
	display: inline-block;
	float: right;
	margin-top: 10px;
	padding-right: 5px;
}
.draft-delete-btn {
	opacity: 0;
	padding-right: 5px;
	display: inline-block;
	float: right;
	margin-top: 5px;
}

.draft-list {
	border-right: 1px solid $gray-light;
	border-left: 1px solid $gray-light;
	&:hover{
		border-right: 2px solid black;
		border-left: 2px solid black;
	}
}

.thumbsup {
	padding-bottom: 5px;
	color: green;
}
.thumbsdown {
	color: red;
}

.title > a {
	color: black;
	&:hover{
		color: gray;
	}
}

.modal-body .content {
	width: 30em;
	font-size: 18px;
	font-family: Georgia, serif;
	line-height: 1.5;
	color: #070707;
	margin-bottom: 1em;
	margin-top: 0.5em;
	white-space: pre-wrap;
}

.nostyle {
	a{
		text-decoration: none;
		color: black;
	}
}
//.draft-edit-btn2 {
//	opacity: 0;
//	display: inline-block;
//	float: right;
//	margin-top: 10px;
//	font-size: 1.8em;
//	font-weight: bold;
//	color: $gray-light;
//	&:hover{
//		color: $gray;
//	}
//}
//.draft-delete-btn2 {
//	opacity: 0;
//	display: inline-block;
//	float: right;
//	margin-top: 5px;
//	font-size: 1.8em;
//	font-weight: bold;
//	color: $gray-light;
//	&:hover{
//		color: $gray;
//	}
//}
