$lime-green: #32cd32;
$lime: #00ff00;

.input-group {
  margin-bottom: 20px;
}

.input-group-addon {
  .icon-2x {
    width: 28px;
    min-width: 28px;
    display: inline-block;
  }
}

.simplebox {
	outline: none;
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none!important;
}

#titlebox {
	font-family: Georgia, serif;
	font-size: 1.8em;
}

#contentbox{
	height: 500px;
	margin-bottom: 15px;
	margin-top: 2em;
	font-size: 18px;
	font-family: Georgia, serif;
}

#submitpost {
	float: right;
}

#submitdraft{
	background-color: indianRed;
	border-color: indianRed;
	&:hover {
		background-color: maroon;
		border-color: maroon;
	}
}
