<nav class="navbar navbar-fixed-bottom col-md-2">
  <div class="container bottom-align col-md-8">
		<ul class="nav navbar-nav pull-left" id="footer-menu">
			<li>
			<div>
				<%= link_to "About", about_path %>
			</div>
			</li>
			<li>
			<div style="padding-left: 15px">
				<%= link_to "Contact", contact_path %>
			</div>
			</li>
		</ul>
	</div>
</nav>
<nav class="navbar navbar-fixed-bottom col-md-2 col-md-offset-9">
		<ul class="nav navbar-nav pull-right" id="random">
			<li>
			<%= link_to random_path, remote: true do %>
				<button type="button" class="btn btn-default btn-lg" id="rand-btn">
					Random Article
				</button>
			<% end %>
			</li>
		</ul>
</nav>
